th, td {
  /* border-bottom: 1px solid #ddd; */
  padding: 5px;
  width: 150px;
  height: 25px;
  text-align: center;
}

tr:nth-child(even){
  background-color: #f2f2f2;
}

.tableContainer{
  width: 100%;
}

